@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes sonarWave {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1);
  }
}

.logo-joyenda {
  /* width: 80px; */
  /* height: 80px; */
  object-fit: cover;
  border-radius: 50%;
  animation: sonarWave  1s infinite 
ease-in-out;
animation-delay: 1000ms;
}


input:-webkit-autofill {
  background-color: #ffffff !important;
  -webkit-text-fill-color: black !important;
  caret-color: black;
 
}

.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #101010 inset !important;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
}
